name: Output information
on: issues

jobs:
  output:
    runs-on: ubuntu-latest
    steps:
      - name: Output information
        run: |
          echo "The issue title is: ${{ github.event.issue.title }}"
          echo "The issue body is: ${{ github.event }}"
