name: Output information
on: issues

jobs:
  output:
    runs-on: ubuntu-latest
    steps:
      - name: Output information
        run: |
          echo "The issue title is: ${{ toJSON(github.event.issue.title) }}"
          echo "The issue body is: ${{ toJSON(github.event) }}"
